/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

$balanced: #45B82E !default;
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@import "scss/both/pace";
@import "scss/both/button";

// Include customer
@import "scss/customer/loading";
.scroll {
  height: 100%;
}

ion-nav-view {
  background-color: white !important;
}

span.tab-item {
  cursor: initial !important;
}
.item.product {
  text-align: center;
  margin: 0 auto;
  border-width: 0px;

  img {
    max-width: 100%;
  }
}
.noShow { display: none; }
.slideToggle {
  background: transparent !important;
  border-width: 0px !important;
}
.product {
  .card {
    margin: 5px 5px !important;
  }
}

.loading-container .loading, .backdrop {
  background: transparent !important;
}
