/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.tabs-top > .tabs, .tabs.tabs-top{
  top:0px;
}

.has-tabs-top {
  top: 49px;
}

ion-side-menu > ion-content > div.scroll > ul > a.item.logout{
  padding-top: 14px;
  padding-bottom: 14px;
}

.products-list{
  text-align: center;
  .item-complex.custom{
    padding: 0;
    max-width: 200px;
    display: inline-block;
    vertical-align: middle;
    border-width: 0px;
    .item-content{
      padding: 0px;
    }
  }
}

.tag-pannel{
  text-align: center;
  padding-top: 3em;
}
.tag-item{
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 7px 10px;
  margin: 10px;
  display: inline-block;
  color: #434343;
  font-size: 1.3em;
}