<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.oqadu412243" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>OQADU</name>
  <description>
    Mobile application (queue manager)
  </description>
  <author email="arnaud@babol.me" href="https://github.com/ababol/oqadu">
    OQADU Team
  </author>
  <content src="customer.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
