<!--
  This template loads for the 'tab.product-detail' state (app.js)
  'product' is a $scope variable created in the productsCtrl controller (controllers.js)
  The productsCtrl pulls data from the products service (service.js)
  The products service returns an array of product data
-->

<ion-view title="{{product.name}}">
  <ion-content has-header="true" padding="true">
  <div class="row">
    <div class="col">
        <a class="button icon icon-left ion-chevron-left" href="#{{backUrl}}">Back</a>
    </div>
  </div>
  <div class="row row-center">
    <div class="col col-33">
          <ion-slide-box on-slide-changed="slideHasChanged($index)"  show-pager="true">
            <ion-slide ng-repeat="img in product.img track by $index" ng-init="updateSlider()">
              <img src="{{img}}" width="100%">
            </ion-slide>
          </ion-slide-box>
    </div>
    <div class="col col-offset-10">
        <div class="row no-padding-side">
          <div class="col left no-padding-side">
            <span class="fakebutton ion-bag">
              {{product.price}}€
            </span>
          </div>
          <div class="col right no-padding-side">
            <span class="fakebutton ion-ios7-star">
              {{product.reviewAvg}}
            </span>
          </div>
        </div>
        <div class="list">
          <div class="item item-divider" ng-repeat-start="label in product.info_label">
            {{label}}
          </div>
          <div class="item" ng-repeat-end>
            {{product.info_text[$index]}}
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="item item-text-wrap">
        {{ product.description }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="button button-light tag-item">tag tag</div>
      <div class="button button-light tag-item">tag tag tag tag</div>
      <div class="button button-light tag-item">tag tag</div>
      <div class="button button-light tag-item">tag tag tag tag</div>
      <div class="button button-light tag-item">tag tag tag</div>
      <div class="button button-light tag-item">tag tag</div>
      <div class="button button-light tag-item">tag tag tag tag</div>
      <div class="button button-light tag-item">tag tag</div>
      <div class="button button-light tag-item"><i class="ion-ios7-plus-outline"></i> Add a tag</div>
    </div>
  </div>
  </ion-content>
</ion-view>
