<ion-view title="product">
  <ion-content>

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="query">
      </label>
    </div>

    <ion-list class="products-list">
      <ion-item class="custom" ng-repeat="product in products | filter:query" type="item-text-wrap" href="#/product-detail/{{product._id}}">

        <div class="list card">
          <div class="item item-image">
            <img src="{{product.pictures[0].img}}" alt="{{product.pictures[0].label}}">
          </div>
          <div class="item item-divider">
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left" ng-show="customer != {}">
            <a class="tab-item" ng-click="addProductToCustomer(product)" href="#/tab/product">
              <i class="icon ion-bag"></i> Add this product
            </a>
          </div>
        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
