<ion-view title="tag">
  <ion-content class="padding">

    <div class="card" ng-if="customer.default">
      <div class="item item-text-wrap">
        <h2>Il n'y a aucun client dans votre file d'attente !</h2>
      </div>
      <div class="item item-icon-left assertive" ng-click="refresh()">
        <i class="icon ion-loop"></i>
        Rafraîchir
      </div>
    </div>

    <div class="tag-pannel">
      <span ng-repeat="(shelf, tags) in customer.tags">
        <div ng-repeat="tag in tags" class="button button-light tag-item" ng-click="removeTag(shelf, $index)"><i class="ion-trash-a"></i> {{tag}}</div>
      </span>
      <div class="button button-stable tag-item" ng-click="addTag()"><i class="ion-ios7-plus-outline" ></i> Add a tag</div>
    </div>
  </ion-content>
</ion-view>
