<ion-view title="product">
  <ion-content>
    <ion-list class="products-list">
      <ion-item class="custom" ng-repeat="product in products" type="item-text-wrap" href="#/tab/product-detail/{{product._id}}">

        <div class="list card">
          <div class="item item-image">
            <img src="{{product.img[0]}}">
          </div>
          <div class="item item-divider">
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
          </div>
        </div>

      </ion-item>
      <ion-item class="custom" type="item-text-wrap" href="#/tab/product/add">

        <div class="list card">
          <div class="item item-text-wrap">
            <h1><i class="ion-ios7-plus-outline"></i></h1>
          </div>
          <div class="item item-divider">
            <h3>Add a product</h3>
          </div>
        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
