<ion-view title="cart">
  <ion-content>

    <div class="card" ng-if="customer.default">
      <div class="item item-text-wrap">
        <h2>Il n'y a aucun client dans votre file d'attente !</h2>
      </div>
      <div class="item item-icon-left assertive" ng-click="refresh()">
        <i class="icon ion-loop"></i>
        Rafraîchir
      </div>
    </div>
    <ion-list class="products-list">
      <ion-item class="custom" ng-repeat="product in products" type="item-text-wrap" href="#/tab/product-detail/{{product._id}}">

        <div class="list card">
          <div class="item item-image">
            <img src="{{product.pictures[0].path}}" alt="{{product.pictures[0].label}}">
          </div>
          <div class="item item-text-wrap">
            <h3>{{product.name}}</h3>
          </div>
          <a class="item item-icon-left" ng-click="removeProductFromCart(product._id)" href="#/tab/cart">
            <i class="icon ion-trash-a"></i>
            Supprimer
          </a>
        </div>
      </ion-item>
   </ion-list>
  </ion-content>
</ion-view>
