<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-positive tabs-icon-only tabs-top">


  <ion-tab title="user" icon="icon ion-android-contact" href="#/tab/user" class="user">
    <ion-nav-view name="tab-user"></ion-nav-view>
  </ion-tab>


  <ion-tab title="product" icon="icon ion-ios7-cart" href="#/tab/product" class="product">
    <ion-nav-view name="tab-product"></ion-nav-view>
  </ion-tab>


  <ion-tab title="tag" icon="icon ion-ios7-pricetags" href="#/tab/tag" class="tag">
    <ion-nav-view name="tab-tag"></ion-nav-view>
  </ion-tab>


</ion-tabs>
