<ion-view title="waitlist" class="waitlist">
  <ion-content>
    <div class="list card">
       <div class="item item-body">
        <h1>{{waitingNumber}}</h1>
       </div>
        <div class="item item-divider">
          Liste d'attente
        </div>
    </div>
    <div class="list card chart">
       <div class="item item-body">
       <highchart id="chart1" config="chartConfig1" style="height:200px;"></highchart>
       </div>
        <div class="item item-divider">
          Evolution de la liste d'attente
        </div>
    </div>
    <div class="list card chart">
       <div class="item item-body">
       <highchart id="chart2" config="chartConfig2" style="height:200px;"></highchart>
       </div>
        <div class="item item-divider">
          Nombre de clients traités par jour
        </div>
    </div>
    <div class="list card">
       <div class="item item-body">
        <h1>{{sellStat}}</h1>
       </div>
        <div class="item item-divider">
          Acte d'achat 
        </div>
    </div>
  </ion-content>
</ion-view>