<ion-view title="waitlist" class="waitlist">
  <ion-content>
    <div class="list card">
       <div class="item item-body">
        <h1>{{waitingNumber}}</h1>
       </div>
        <div class="item item-divider">
          Liste d'attente
        </div>
    </div>
    <div class="list card chart">
       <div class="item item-body">
       <highchart id="chart1" config="chartConfig"></highchart>
       </div>
        <div class="item item-divider">
          Personnes vue aujourd'hui
        </div>
    </div>
    <div class="list card chart">
       <div class="item item-body">
       <highchart id="chart1" config="chartConfig"></highchart>
       </div>
        <div class="item item-divider">
          Personnes vue aujourd'hui
        </div>
    </div>
    <div class="list card">
       <div class="item item-body">
        <h1>{{peopleToday}}</h1>
       </div>
        <div class="item item-divider">
          Personnes vue aujourd'hui
        </div>
    </div>
  </ion-content>
</ion-view>