<ion-view>
  <ion-content class="home" animation="no-animation">
    <section class="home-promo">
      <img src="img/leroymerlin.svg" width="300">
    </section>

    <section class="home-button">
      <a id="engine" href="#/question/">
        <button class="button button-large button-block icon-left ion-ios7-search-strong button-balanced">File d'attente</button>
      </a>
      <a href="#/scan">
        <button class="button button-large button-block icon-left ion-ios7-barcode-outline button-energized">Scannez un article</button>
      </a>
      <a href="#/cart" ng-show="user.cart.length > 0 && !registered">
        <button class="button button-large button-block icon-left ion-ios7-cart button-assertive">Panier ({{user.cart.length}})</button>
      </a>
    </section>
  </ion-content>
</ion-view>
