<ion-nav-bar class="bar bar-header bar-light nav-title-slide-ios7">
  <button class="button-icon icon ion-ios7-arrow-back button back-button"
     onclick="window.history.back()"> Back</button>
</ion-nav-bar>
<ion-view title="Produit" class="product">
  <ion-content>

    <section class="row no-padding-side" ng-if="product.price">
      <div class="col left no-padding-side">
        <span class="fakebutton blue add-product"
              ng-click="addToCart(product._id)"
              ng-class="(getInTheCart(product._id) > -1) ? 'ion-ios7-cart' : 'ion-ios7-cart-outline'">
          {{product.price}}€
        </span>
      </div>
      <div class="col right no-padding-side">
        <span class="fakebutton ion-ios7-star energized">
          {{product.reviewAvg}}/5
        </span>
      </div>
    </section>

    <section class="row product-img" ng-if="product.pictures">
      <div class="col col-100">
        <div class="item item-image product">
          <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
            <!-- ng init update slider to fix a display bug !-->
            <ion-slide ng-repeat="img in product.pictures track by $index" ng-init="updateSlider()">
              <img src="{{img.path}}" alt="{{img.label}}">
            </ion-slide>
          </ion-slide-box>
        </div>
      </div>
    </section>

    <section class="list product">

      <div ng-if="product.name">
        <div class="item item-divider toggleMain" ng-init="checked=true">
          <ion-toggle ng-checked="true">
            Description
          </ion-toggle>
        </div>
        <div class="item toggleContent">
          {{ product.name }}
        </div>
      </div>

      <div ng-if="product.features">
        <div class="item item-divider toggleMain" ng-init="checked=false">
          <ion-toggle ng-checked="false">
            Features
          </ion-toggle>
        </div>
        <div class="item toggleContent ng-hide">
          <div class="item item-divider" ng-repeat-start="feature in product.features">
            {{feature.label}}
          </div>
          <div class="item" ng-repeat-end>
            {{feature.value}}
          </div>
        </div>
      </div>

      <div ng-if="product.faq">
        <div class="item item-divider toggleMain" ng-init="checked=false">
          <ion-toggle ng-checked="false">
            F.A.Q.
          </ion-toggle>
        </div>
        <div class="item toggleContent">
          F.A.Q.
        </div>
      </div>

      <div ng-if="product.reviews">
        <div class="item item-divider toggleMain" ng-init="checked=false">
          <ion-toggle ng-checked="false">
            Avis Clients (0)
          </ion-toggle>
        </div>
        <div class="item toggleContent">
          avis
        </div>
      </div>

      <div ng-if="product.recos">
        <div class="item item-divider toggleMain" ng-init="checked=true">
          <ion-toggle ng-checked="true">
            Produit(s) similaire(s) ({{product.recos.length}})
          </ion-toggle>
        </div>
        <div class="item toggleContent">
          <a class="item item-thumbnail-left" ng-repeat="reco in product.recos track by $index" href="#/product/{{reco._id}}">
            <img src="{{reco.pictures[0].path}}" alt="{{reco.pictures[0].label}}">
            <h2>{{reco.name}}</h2>
            <p>{{reco.price}}€</p>
            <p>5etoiles</p>
          </a>
        </div>
      </div>

    </section>

    <div style="height: 55px"></div>
  </ion-content>
</ion-view>
