 <ion-nav-bar class="bar bar-header bar-light nav-title-slide-ios7">
  <a ng-if="lastAnswer" href="customer.html#/recommendation/{{lastAnswer}}">
    <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back" id="backButton">
    Back
    </ion-nav-back-button>
  </a>
</ion-nav-bar>
<ion-view title="{{product.name}}">
  <ion-content class="padding">
    <div class="row">
      <div class="col col-50">
        <div id="leftCol">
          <div class="row no-padding-side">
            <div class="col left no-padding-side">
              <span class="fakebutton ion-bag">
                {{product.price}}€
              </span>
            </div>
            <div class="col right no-padding-side">
              <span class="fakebutton ion-ios7-star">
                {{product.reviewAvg}}
              </span>
            </div>
          </div>
          <div class="list">
            <div class="item item-divider" ng-repeat-start="label in product.info_label">
              {{label}}
            </div>
            <div class="item" ng-repeat-end>
              {{product.info_text[$index]}}
            </div>
          </div>
        </div>
      </div>
      <div class="col col-50">
        <div class="item item-image product">
          <ion-slide-box on-slide-changed="slideHasChanged($index)"  show-pager="true">
            <!-- ng init update slider to fix a display bug !-->
            <ion-slide ng-repeat="img in product.img track by $index" ng-init="updateSlider()">
              <img src="{{img}}" style="max-height: {{height}}px">
            </ion-slide>
          </ion-slide-box>
        </div>
      </div>
    </div>

    <div class="card" ng-if="product.description">
      <div class="item item-divider">
        <ion-toggle class="slideToggle" ng-checked="true">
          Description
        </ion-toggle>
      </div>
      <div class="item item-text-wrap">
        {{ product.description }}
      </div>
    </div>

    <div class="card" ng-if="product.faq">
      <div class="item item-divider">
        <ion-toggle class="slideToggle">
          F.A.Q.
        </ion-toggle>
      </div>
      <div class="item item-text-wrap noShow">
        <div class="item item-divider" ng-repeat-start="faq in product.faq">
          {{faq.question}}
        </div>
        <div class="item item-text-wrap" ng-repeat-end>
          <span ng-if="faq.answer != 1337">{{faq.answer}}</span>
          <div class="list" ng-if="faq.answer == 1337">
            <div class="item range range-positive">
              Couche(s)
              <input type="range" min="1" max="5" value="1" ng-model="data.couche">
              <i class="icon ion-arrow-resize"></i>{{data.couche || 1}}
            </div>
            <div class="item range range-positive">
              m²
              <input type="range" min="10" max="200" value="33" ng-model="data.metre">
              <i class="icon ion-arrow-resize"></i>{{data.metre || 33}}
            </div>
            <div class="range range-positive">
              <span class="fakebutton center">Pots: {{(((data.couche || 1) * (data.metre || 33) /100) + 0.49) | number:0}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" ng-if="product.reviews">
      <div class="item item-divider">
        <ion-toggle class="slideToggle">
          <i ng-repeat="review in product.reviewAvgHtml track by $index" class='icon {{review}}'></i>
        </ion-toggle>
      </div>
      <div class="item item-text-wrap noShow">
        <div ng-repeat-start="review in product.reviews track by $index" class="item item-divider">
          {{review.title}} ({{review.score}}/5) par {{review.nickname}}
        </div>
        <div class="item item-text-wrap" ng-repeat-end>
          {{review.text}}
        </div>
      </div>
    </div>

    <div style="height: 47px"></div>
  </ion-content>
</ion-view>
