 <ion-nav-bar class="bar bar-header bar-light nav-title-slide-ios7">
  <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back">
  Back
  </ion-nav-back-button>
</ion-nav-bar>
<ion-view title="{{product.name}}">
  <ion-content class="padding">
    <div class="row">
      <div class="col col-50">
        <div class="list list-inset">
          <div class="item item-divider" ng-repeat-start="label in product.info_label">
            {{label}}
          </div>
          <div class="item" ng-repeat-end>
            {{product.info_text[$index]}}
          </div>
        </div>
      </div>
      <div class="col col-50">
        <div class="item item-image product">
          <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <!-- ng init update slider to fix a display bug !-->
            <ion-slide ng-repeat="image in product.img track by $index" ng-init="updateSlider()">
              <img src="img/products/peinture.jpg">
            </ion-slide>
          </ion-slide-box>
        </div>
      </div>
    </div>
    <div class="item item-text-wrap">
      {{ product.description }}
    </div>
  </ion-content>
</ion-view>
