<ion-view title="Question">
  <ion-nav-bar class="bar bar-header bar-light nav-title-slide-ios7">
    <button class="button-icon icon ion-ios7-arrow-back button back-button return"
       ng-if="user.actual.qIds.length >= 1" ng-click="gotoBackQuestion()"> Back</button>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="card top">
      <div class="item item-text-wrap">
        {{question.text}}
      </div>
    </div>
    <a ng-repeat="answer in question.answers" ng-click="selectAnswer(answer)" class="button button-question button-outline button-balanced answer" href="#/question/{{question._id}}">
      {{answer.text}}
    </a>
  </ion-content>
</ion-view>
