<ion-view>
  <ion-content class="padding">
    <div class="list">

        <a ng-repeat="product in products" class="item item-thumbnail-left productreco" href="#/product/{{product._id}}">
          <img src="{{product.pictures[0].path}}" alt="{{product.pictures[0].label}}" />
          <h2>{{product.name}}</h2>
          <p>{{product.price}}€</p>
          <p><i ng-repeat="review in product.reviewAvgHtml track by $index" class='{{review}}'></i></p>
        </a>

        <h1 ng-show="noProduct">{{noProduct}}</h1>

    </div>
  </ion-content>
</ion-view>
