<ion-nav-bar class="bar bar-header bar-light nav-title-slide-ios7" ng-show="{{title === 'Panier'}}">
  <button class="button-icon icon ion-ios7-arrow-back button back-button"
     ng-show="showBackButton"
     onclick="window.history.back()"> Back</button>
</ion-nav-bar>
<ion-view title="{{title}} ({{products.length}})">
  <ion-content class="padding" style="{{title === 'Recommandation' ? 'top: 0;' : ''}}">
    <div class="list">

        <a ng-repeat="product in products" class="item item-thumbnail-left productreco" href="#/product/{{product._id}}">
          <img src="{{product.pictures[0].path}}" alt="{{product.pictures[0].label}}" />
          <h2>{{product.name}}</h2>
          <p>{{product.price}}€</p>
          <p><i ng-repeat="review in product.reviewAvgHtml track by $index" class='{{review}}'></i></p>
        </a>

        <h1 ng-show="products.length === 0">Pas de produit!</h1>

    </div>
  </ion-content>
</ion-view>
