<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Leroy Merlin - Customer App</title>

    <link href="css/customer.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/snap-svg/snap.svg-min.js"></script>
    <script src="lib/pace.min.js"></script>
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/dist/angularfire.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/utils.js"></script>
    <script src="js/customer/app.js"></script>
    <script src="js/customer/controllers.js"></script>
    <script src="js/customer/services.js"></script>
  </head>
  <body ng-app="starter" animation="none" ng-controller="MainCtrl">
    <section ng-show="loaded">
      <section ng-show="errorTxt">
        <div class="list card">
          <div class="item">
            <h2>{{errorTxt}}</h2>
            <p>Un incident technique est survenu.<br/>
            Veuillez contacter <a style="color: green;" href="mailto:support@oqadu.com">un admistrateur.</a></p>
            <a href="#/home" class="tab-item">
              <i class="icon ion-ios7-home-outline"></i>
            </a>
          </div>
          <div class="item item-body">
            <img class="full-image" src="img/hipster_dog.jpg">
          </div>
        </div>
      </section>
      <section ng-hide="errorTxt">
        <ion-nav-view></ion-nav-view>
      </section>
    </section>
    <ion-nav-view name="loading" id="loading" class="fade hide"></ion-nav-view>
    <footer ng-controller="BarCtrl" ng-hide="errorTxt || hideFoot">
      <div class="tabs tabs-icon-left">
        <a href="#/home" class="tab-item home">
          <i class="icon ion-ios7-home-outline"></i>
        </a>

        <!-- Not Registered -->
        <a id="waitingList" ng-click="registerQueue()" class="tab-item join" ng-hide="registered">
          <i class="icon ion-ios7-plus-outline"></i>
          Conseiller
        </a>
        <!-- End Not Registered -->

        <!-- Registered -->
        <span ng-show="registered" class="tab-item">
          <i class="icon ion-ios7-people-outline"></i>
          {{waitlistPosition}}
        </span>
        <span ng-show="registered" class="tab-item">
          <i class="icon ion-ios7-clock-outline"></i>
          {{waitTime}}min
        </span>
        <a id="leaveWaitingList" ng-show="registered" class="tab-item" ng-click="unregisterQueue()">
          <i class="icon ion-ios7-close-outline"></i>
        </a>
        <!-- End Registered -->

        <a href="#/cart" class="tab-item cart" ng-show="user.cart.length > 0">
          <i class="icon ion-ios7-cart"></i>
          <span class="badge badge-assertive">{{user.cart.length}}</span>
        </a>
      </div>
    </footer>
  </body>
</html>
