<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Leroy Merlin - Customer App</title>

    <link href="css/customer.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/snap-svg/snap.svg-min.js"></script>
    <script src="lib/pace.min.js"></script>
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/dist/angularfire.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/customer/app.js"></script>
    <script src="js/customer/controllers.js"></script>
    <script src="js/customer/services.js"></script>
  </head>
  <body ng-app="starter" animation="none" ng-controller="MainCtrl">
    <section ng-show="loaded">
      <section ng-show="errorTxt">
        <div class="list card">
          <div class="item">
            <h2>{{errorTxt}}</h2>
            <p>Un incident technique est survenu.<br/>
            Veuillez contacter <a style="color: green;" href="mailto:support@oqadu.com">un admistrateur.</a></p>
          </div>
          <div class="item item-body">
            <img class="full-image" src="img/hipster_dog.jpg">
          </div>
        </div>
      </section>
      <section ng-hide="errorTxt">
        <ion-nav-view></ion-nav-view>
      </section>
    </section>
    <ion-nav-view name="loading" id="loading" class="fade hide"></ion-nav-view>
    <footer ng-controller="BarCtrl">
      <div id="barUnreg" ng-hide="registred" class="tabs tabs-icon-left">
        <a href="#/home" class="tab-item">
          <i class="icon ion-ios7-home-outline"></i>
          Home
        </a>
        <a ng-click="registerQueue()" class="tab-item">
          <i class="icon ion-ios7-plus-outline"></i>
          Joindre la file d'attente
        </a>
      </div>
      <div id="barReg" ng-show="registred" class="tabs tabs-icon-left">
        <a href="#/home" class="tab-item">
          <i class="icon ion-ios7-home-outline"></i>
          Home
        </a>
        <span class="tab-item">
          <i class="icon ion-ios7-people-outline"></i>
          4th
        </span>
        <span class="tab-item">
          <i class="icon ion-ios7-clock-outline"></i>
          2min
        </span>
        <a class="tab-item" ng-click="unregisterQueue()">
          <i class="icon ion-ios7-close-outline"></i>
          Se désinscrire
        </a>
      </div>
    </footer>
  </body>
</html>
