<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Leroy Merlin - Seller App</title>

    <link href="css/seller.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="https://code.highcharts.com/adapters/standalone-framework.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="lib/highcharts-ng/dist/highcharts-ng.js"></script>
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/dist/angularfire.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/seller/app.js"></script>
    <script src="js/seller/controllers.js"></script>
    <script src="js/seller/services.js"></script>
  </head>
  <body ng-app="starter" animation="slide-left-right-ios7">

   <ion-side-menus ng-controller="MainCtrl">
      <!-- Center content -->
      <ion-side-menu-content>
        <ion-nav-view></ion-nav-view>
      </ion-side-menu-content>

      <!-- Left menu -->
      <ion-side-menu side="left" expose-aside-when="(min-width:600px)">

          <!-- if you need scroll and click in menu: has-header="true" scroll="true" overflow-scroll="true" -->
          <ion-content has-header="true">
            <ul class="list menu">
              <a href="#" data-click-menulink  ng-click="initSeller(seller.id +1)" class="item logout">{{seller.name}}</a>

              <div class="item item-divider">File d'attente</div>
              <a href="#/tab/dash" class=" waitlist item item-button-right" ng-repeat="(key, user) in syncQueue" ng-class="{'selected': customer.$id == user.$id}" ng-click="changeCustomer(key)">
                User {{user.$$hashKey}}
                <button class="button button-stable" ng-click="deleteUser(key)">
                  done
                  <!-- <i class="icon ion-android-archive"></i> -->
                </button>
              </a>

              <a href="#/waitlist" data-click-menulink class="item stats energized"  ng-class="{'active': state.current.name=='waitlist'}">Statistiques</a>
              <a href="#/products" data-click-menulink class="item products assertive"  ng-class="{'active': state.current.name.substring(0,7)=='product'}">Produits</a>
            </ul>

<!--             <button class="button button-block button-positive" ng-click="refresh()">Rafraîchir</button>
            <button class="button button-block button-energized" ng-click="nextCustomer()">Personne suivante</button>
            <button class="button button-block button-assertive" ng-click="prevCustomer()">Personne précédente</button>
 -->
          </ion-content>
      </ion-side-menu>
    </ion-side-menus>
  </body>
</html>
