$assertive : #ef4e3a;
$energized : #f0b840;

.list.menu{
  >.item.assertive{
    color: white;
    background-color: $assertive;
    border-color: darken($assertive, 15%);
  }
  >.item.energized{
    color: white;
    background-color: $energized;
    border-color: darken($energized, 15%);
  }
  >.item.waitlist{
    text-align: left;
    padding: .8em;
    padding-left: 2.3em;
    opacity: .5;
    >button{
      display: none;
    }
    &.selected{
      opacity: 1;
      >button{
        display: inline-flex;
        font-size: .8em;
        top: 12px;
        right: 16px;
        min-width: 34px;
        min-height: 20px;
        line-height: 20px;
      }
    }
  }
}