.products-list{
  text-align: center;
  .item-complex.custom{
    padding: 0;
    max-width: 200px;
    display: inline-block;
    vertical-align: middle;
    border-width: 0px;
    .item-content{
      padding: 0px;
    }
  }
}

.noShow { display: none }
.show { /* Css Transitions to make the unfold effect or simply a display: block */ display:block;}