.tag-pannel{
  text-align: center;
  padding-top: 3em;
}
.tag-item{
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 7px 10px;
  margin: 10px;
  display: inline-block;
  color: $gray-black;
  font-size: 1.3em;
}