.scroll {
  > .button-half {
    margin-top: 0 !important;
    margin-bottom: 1%;
  }
}

.invert {
  color: $balanced !important;
  background-color: white !important;
  margin-bottom: 0 !important;
}

.button-half {
  font-size: 2em;
  height: 49%;
  width: 100%;
  align-items: center;
  display: flex !important;
  justify-content: center;
}

.button-question {
  width: 99.5%;
  margin: 0.25%;
}

.card.top {
  margin: 0 0 0.5% 0 !important;
}
