.scroll {
  > .button-half {
    margin-top: 0 !important;
    margin-bottom: 1%;
  }
}

.invert {
  color: $balanced !important;
  background-color: white !important;
  margin-bottom: 0 !important;
}

.button-half {
  font-size: 3em;
  height: 49%;
  width: 100%;
  align-items: center;
  display: flex !important;
  justify-content: center;
  i {
    display: block !important;
    clear: both !important;
  }
}

.home .button-half{
  font-size: 1.6em;
  i{
    font-size: 2em;
    margin-right: .3em;
  }
}
.button-question {
  width: 99.5%;
  margin: 0.25%;
}

.card.top {
  margin: 0 0 0.5% 0 !important;
}
.fakebutton {
  padding: 0px 1em;
  min-width: 59px;
  min-height: 50px;
  font-size: 1em;
  line-height: 53px;

  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;

  &.balanced {
    border-color: $balanced;
    background: none repeat scroll 0% 0% transparent;
    color: $balanced;
  }
  &.energized {
    border-color: #d39211;
    background-color: #f0b840;
    color: #fff;
  }
  &.blue {
    background-color: #4A87EE;
    color: white;
    border-top-color: #4A87EE;
  }
  &.assertive {
    border-color: #cc2311;
    background-color: #ef4e3a;
    color: #fff;
  }
}

.left {
text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.no-padding-side {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
}

.item-divider .item-toggle {
  background-color: transparent !important;
  border-width: 0px !important;
}

.tab-item .badge {
  position: relative !important;
  top: -1px !important;
  right: 0 !important;
}
