.loading-container .loading, .backdrop {
  background: transparent !important;
}

.ng-hide-add-active {
  display: block !important;
  -webkit-transition: .3s linear all;
  transition: .3s linear all;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}
.ng-hide {
  opacity: 0;
}
