.loading-container .loading, .backdrop {
  background: transparent !important;
}

.popup-container {
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4);
}

.ng-hide-add-active {
  display: block !important;
  -webkit-transition: .3s linear all;
  transition: .3s linear all;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}
.ng-hide {
  opacity: 0;
}
